<div class="form" id="requestView" data-title="Просмотр заявки" data-display="none">
    <div class="tabs"
         style="width:50px; padding-left:10px; padding-right:10px; color:blue; cursor:pointer;">
        <td id="request">Заявка</td>
        <td id="history">История</td>
        <td id="audit">Аудит</td>
    </div>
    <table class="tab" id="request" data-display="none">
        <tr>
            <td style="text-align:right;">Объект:</td>
            <td>
                <input
                        name="objectCode"
                        type="text"
                        required
                        size="10"
                        maxlength="10"
                        pattern="[A-Za-z0-9]"
                        autofocus
                />
            </td>
        </tr>
        <tr>
            <td>Комментарий:</td>
            <td>
            <textarea
                    name="comment"
                    required
                    rows="3"
                    maxlength="255"
                    style="width:250px;"
            ></textarea>
            </td>
        </tr>
    </table>
    <table class="tab gridTable" id="history" data-display="none">
        <thead>
        <tr class="filterTable">
            <td data-field="eventDatetime">
                <input type="text"/>
            </td>
            <td data-field="status">
                <input type="text"/>
            </td>
            <td data-field="comment">
                <input type="text"/>
            </td>
            <td data-field="user">
                <input type="text"/>
            </td>
        </tr>
        <tr class="headerTable">
            <td
                    data-field="eventDatetime"
                    data-type="dateTime"
                    style="min-width:130px; max-width:130px;"
            >
                Дата и время
            </td>
            <td data-field="status" style="min-width:80px; max-width:80px;">
                Статус
            </td>
            <td data-field="comment" style="min-width:200px; max-width:200px;">
                Комментарий
            </td>
            <td data-field="user" style="min-width:140px; max-width:140px;">
                Пользователь
            </td>
            <td
                    data-field="lastColumn"
                    style="width: 100%; background-color: #fff; border: none;cursor: auto;"
            />
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <table class="tab gridTable" id="audit" data-display="none">
        <thead>
        <tr class="filterTable">
            <td data-field="event">
                <input type="text"/>
            </td>
            <td data-field="user">
                <input type="text"/>
            </td>
            <td data-field="eventDatetime">
                <input type="text"/>
            </td>
            <td data-field="desription">
                <input type="text"/>
            </td>
            <td data-field="content">
                <input type="text"/>
            </td>

        </tr>
        <tr class="headerTable">
            <td data-field="event" style="min-width:140px; max-width:140px;">
                Событие
            </td>
            <td data-field="user" style="min-width:140px; max-width:140px;">
                Пользователь
            </td>
            <td
                    data-field="eventDatetime"
                    data-type="dateTime"
                    style="min-width:130px; max-width:130px;"
            >
                Дата и время
            </td>
            <td data-field="desription" style="min-width:140px; max-width:140px;">
                Описание
            </td>
            <td data-field="content" style="min-width:200px; max-width:200px;">
                Детализация
            </td>

            <td
                    data-field="lastColumn"
                    style="width: 100%; background-color: #fff; border: none;cursor: auto;"
            />
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
